<body class="container-fluid">
    <nav [ngStyle]='myStyles' class="container-fluid">
        <h2>GitApp Reposiroties.</h2>
        <button class="label label-default btn btn-outline-primary " routerLink='/home'  routerLinkActive='active'>Home</button> <span></span>
        <button class=" label-default btn btn-outline-primary " routerLink='/user'  routerLinkActive='active'>Users</button>
    </nav> 
    <nav class="navbar navbar-light bg-light form-inline">
          <input  class="form-control mr-sm-2" type="search" placeholder="Search Username" aria-label="Search"  [(ngModel)]='username' (keyup)='search()' name='username' > <span>Type the github username to retrieve their repositories.</span>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)=submit()>Search</button>
    </nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Reposiroties</h3>
                </div>
            </div>
            <div class="panel-body">
                <div *ngFor='let repo of repos'>
                    <div class="row">
                        <div class="col-md-9">
                            <h5><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h5>
                            <p>{{repo.description}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="label label-default">{{repo.watchers}} Watched</span>
                            <span class="label label-primary">{{repo.forks}} Cloned</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
   </div>
</body>
