<body class="container-flud">
    <div  [ngStyle]="myStyles">
        <h1>GitApp.</h1>
        <p>Simple is productive.</p>
    </div>
    <div class="container">
        <div [ngStyle]='body'>
            GitApp is a user friendly application that enables a user to 
            fetch their github usernames and their respective repositories.
            Using the github api the user generates their own access keys 
            as authentication. The application help ease of accessing repositories
            to different developers world wide. Feel free to use the application.
        </div>
        <div class='container'>
            <form action=""  class="row">
                <div class="col-md-6">
                    <label for="name">Type Github Username:</label><br>
                    <input type="text" placeholder="Username..."><br>
                    <button type="button" class="btn btn-success">Submit</button>
                </div>
                <div class="col-md-6">
                    <label for="repo">Search Repository</label><br>
                    <input type="text" placeholder="Repository.."><br>
                    <button type="button" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
    <footer [ngStyle]="footer">
            <p>Developed by: Denis Mbugua.</p>
            <p>Location: Nairobi,Kenya.</p>
            <p>Email: dmbugua66@gmail.com</p>
            <p>&copy;2020</p>
     </footer>
</body>
