<body class="container-flud">
    <div  [ngStyle]="myStyles">
        <h1>GitApp.</h1>
        <p>Simple is productive.</p>
    </div>
    <div class="container" [style.height]="'auto'">
        <div [ngStyle]='body'>
            GitApp is a user friendly application that enables a user to 
            fetch their github usernames and their respective repositories.
            Using the github api the user generates their own access keys 
            as authentication. The application help ease of accessing repositories
            to different developers world wide. Feel free to use the application.
        </div>
        <div class='row' [ngStyle]='form' >
            <form action=""  class="col-md-6" [formGroup]='username'>
                <div  >
                    <label for="name">Click here to search users:</label><br>
                    <button routerLink='/user' routerLinkActive='active' type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
            <form action="" [formGroup]='repositories' class="col-md-6" >
                <div  >
                    <label for="repo">Click here to search for repositories:</label><br>
                    <button routerLink='/repos'  routerLinkActive='active' type="submit" class="btn btn-success">Search</button>
                </div>
            </form>

        </div>

    </div>
    <br>
   <div>
    <footer [ngStyle]="footer">
        <p>Developed by: Denis Mbugua.</p>
        <p>Location: Nairobi,Kenya.</p>
        <p>Email: dmbugua66@gmail.com</p>
        <p>&copy;2020</p>
 </footer>
   </div>
</body>
